<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="navbar">
        <a href="/shop">Shop</a>
        <a href="/add-product">Add Product</a>
        <a href="/contactus">Contact Us</a>

    </div>
    <h2>Product List</h2>
    <ul>
        <% products.forEach(product => { %>
            <li><%= product.title %> - Size: <%= product.size %></li>
        <% }) %>
    </ul>
</body>
</html>
